.wrapper {
  width: 100%;
  margin-top: 24px;
  padding: 0 4rem 0 1.5rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 36px;
}

.head,
.line {
  height: 48px;
}

.head {
  background-color: var(--color-dark-500);
}

.body {
}

.line {
  border: 1px solid var(--color-dark-500);
}

.item {
  padding-left: 24px;
  text-align: left;
}
