.wrapper {
    width: 330px;
    position: relative;
}
.label {
    display: block;
    margin: 7px 0;
}
.input {
    height: 36px;
    padding: 6px 12px;
    border: 1px solid var(--color-dark-100);
    border-radius: 2px;
}
.erroredInput {
    border-color: var(--color-danger-500);
}
.inputSearch {
    padding: 6px 12px 6px 36px;
}
.input,
.label {
    font-size: 16px;
    width: 100%;
    color: var(--color-light-900);
    font-family: var(--font-family-primary), sans-serif;
    line-height: var(--line-height-m);
    background-color: var(--color-dark-900);
}
.input:focus {
    border-color: var(--color-info-500);
}
.error {
    font-size: 16px;
    color: var(--color-danger-500);
    line-height: 24px;
}
.eye {
    position: absolute;
    left: calc(100% - 36px);
    top: 36px;
    cursor: pointer;
}
.eyeCrossLine {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: var(--color-light-700);
    transform: rotate(45deg);
    left: calc(100% - 40px);
    bottom: 18px;
}
.search {
    position: absolute;
    left: 12px;
    bottom: 12px;
}
