.windowWrapper {
  z-index: 1000;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  .mainWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 438px;
    min-height: 240px;
    background: #333333;
    border: 1px solid #4c4c4c;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #4c4c4c;
      height: 70px;
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;
      padding-left: 20px;
      padding-right: 20px;

      .buttonClose {
        width: 24px;
        border: none;
      }
    }

    .mainDescription {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 20px;
      padding-top: 25px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
      margin-top: 40px;
      margin-bottom: 10px;

      .button {
        margin-right: 20px;
      }
    }
  }
}
