@import '@/shared/styles/mediaQueries';

.publicProfileWrapper {
  width: 100%;
  max-width: 972px;
  margin-top: 24px;
}

.publicProfileContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  gap: 36px;

  .profileContainer {
    margin-bottom: 48px;
  }

  .postsContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @include media-large {
      gap: 10px;
    }

    @include media-medium {
      gap: 10px;
    }

    @include media-s-medium {
      gap: 8px;
    }

    @include media-small {
      gap: 6px;
    }

    @include media-extra-small {
      gap: 3px;
    }
  }
}
