.Button {
  height: 36px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  border-radius: 2px;
}

.clear {
  background: none;
  outline: none;
  border: 1px solid var(--color-info-500);
  color: var(--color-info-500);
}

.filled {
  color: var(--color-light-100);
  background: var(--color-info-500);
  border: none;
}

.small {
  width: 96px;
}

.middle {
  width: 182px;
}

.large {
  width: 229px;
}

.stretched {
  width: 100%;
}
