.Button {
  cursor: pointer;

  height: 36px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);

  border-radius: 2px;
}

.clear {
  color: var(--color-info-500);
  background: none;
  border: 1px solid var(--color-info-500);
  outline: none;
}

.noborder {
  color: var(--color-info-500);
  text-decoration: none;

  background: none;
  border: none;
  outline: none;

  &:hover {
    color: var(--color-info-100);
  }

  &:focus {
    color: var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &:active {
    color: var(--color-info-700);
  }

  &:disabled {
    color: var(--color-info-900);
  }
}

.filled {
  color: var(--color-light-100);
  background: var(--color-info-500);
  border: none;
  outline: none;

  &:hover {
    background-color: var(--color-info-100);
  }

  &:active {
    background-color: var(--color-info-700);
  }

  &:focus {
    background-color: var(--color-info-500);
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: auto;
    background-color: var(--color-info-100);
  }
}

.small {
  width: 96px;
}

.middle {
  width: 182px;
}

.large {
  width: 229px;
}

.stretched {
  width: 100%;
}

.nostyles {

}

.clean {
  width: initial;
}