@import '@/shared/styles/mediaQueries';

.profileContainer {
  display: flex;
  max-width: 1200px;
  justify-content: center;

  @include media-medium {
    max-width: 1024px;
  }
  @include media-extra-small {
    justify-content: unset;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar {
    border-radius: 50%;
    margin-bottom: 6px;

    svg {
      width: 20px;
      height: 20px;
    }
    @include media-small {
      width: 124px;
      height: 124px;
    }

    @include media-extra-small {
      width: 74px;
      height: 74px;
    }
  }

  .notAvatar {
    box-shadow: 0 0 2px var(--color-light-900);
  }
}

.titleUserName {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;

  @include media-small {
    display: none;
  }
}

.userNameResponsive {
  display: none;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  @include media-small {
    display: block;
  }
}

.profileInfoContainer {
  display: flex;
  margin-left: 38px;
  align-items: center;
  width: calc(100% - 204px);

  @include media-small {
    margin-left: 27px;
  }
}

.profileTitleContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  .buttonProfileSetting {
    width: 167px;
    height: 36px;
    background: #333333;
    color: #ffffff;
    font-size: 16px;
    margin-left: auto;
  }
}

.subscribersContainer {
  display: flex;
  padding-bottom: 24px;
  gap: 100px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  .item {
    display: flex;
    flex-direction: column;
  }

  @include media-small {
    gap: 33px;
  }

  @include media-s-medium {
    gap: 58px;
  }
}

.countSubscribers {
  font-weight: 700;
}

.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 90%;
}

.aboutMeInformation {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.showMore {
  cursor: pointer;
  color: var(--color-info-500);
  text-decoration: underline;
}
