.sideBarContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;

  width: 220px;
  min-height: calc(100vh - 60px);

  border-right: 1px solid var(--color-dark-300);

  .superAdminContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    padding: 0 4rem 0 3.75rem;
  }

  .linkWrapper {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 112px;
    height: 24px;

    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0;

    &:first-child {
      margin-top: 4.5rem;
    }

    &:nth-child(6) {
      margin-top: 60px;
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 4.5rem;
    }

    & img {
      margin-right: 10px;
    }
  }

  .logoutBtn {
    color: var(--color-light-100);
    border: none;
  }
}

.linkWrapperLast {
  margin-top: 0 !important;
}
