.sideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 220px;
  position: fixed;
  top: 60px;
  border-right: 1px solid var(--color-dark-600);
  min-height: calc(100vh - 60px);
  z-index: 10;

  .linkWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 24px;
    width: 112px;

    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    &:first-child {
      margin-top: 4.5rem;
    }
    &:nth-child(6) {
      margin-top: 60px;
    }
    &:last-child {
      margin-top: auto;
      margin-bottom: 4.5rem;
    }
    & img {
      margin-right: 10px;
    }
  }
  .logoutBtn {
    border: none;
    color: var(--color-light-100);
  }
}
.linkWrapperLast {
  margin-top: 0px !important;
}
