.container {
  position: relative;
}
.photoContainer {
  position: relative;
  width: 192px;
  height: 192px;
  background-color: var(--color-dark-800);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPhotoBtn {
  font-size: var(--font-size-m);
  margin-top: 1.5rem;
  width: 100%;
}
.delPhotoBtn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 10;
}

.addPhotoBtnRU {
  font-size: var(--font-size-s);
  margin-top: 1.5rem;
  width: 100%;
}
