.customInput {
  border: 1px solid var(--color-dark-300);
  border-radius: 0.125rem;
  padding: 4px 12px;
  background-color: transparent !important;
  height: 2.25rem;
  width: 100%;
  outline: none;
  &:focus {
    border: 1px solid var(--color-info-500);
  }
}

.customInputError {
  border: 1px solid var(--color-danger-500);
  border-radius: 0.125rem;
  padding: 4px 12px;
  background-color: transparent !important;
  height: 2.25rem;
  width: 100%;
  outline: none;
  color: var(--color-danger-500);
}

.calendarIcon {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  pointer-events: none;
  cursor: pointer;
}

.container {
  width: 100%;

  :global(.rmdp-header) {
    font-weight: bold;
    font-size: var(--line-height-s) !important;
    margin: 0;
    padding: 0;
  }

  :global(.rmdp-header-values) {
    color: var(--color-light-100) !important;
    margin-left: 0 !important;
    span {
      padding: 0;
      margin-right: 0.1rem;
    }
  }
  :global(.rmdp-wrapper) {
    width: 300px;
    padding: 0.75rem 1.25rem;
    background-color: var(--color-dark-800) !important;
    border-radius: 0.125rem !important;
  }

  :global(.rmdp-day) {
    color: var(--color-light-100);
  }
  :global(.rmdp-week:nth-of-type(1)) {
    padding: 0.5rem 0;
    width: 15.75rem;
  }
  :global(.rmdp-week-day) {
    color: var(--color-dark-100);
    font-size: var(--font-size-m);
  }

  :global(.rmdp-year-picker),
  :global(.rmdp-month-picker) {
    background-color: var(--color-dark-800) !important;
  }
  :global(.rmdp-day-picker) {
    padding: 0;
  }
  :global(.sd:hover) {
    background-color: var(--color-info-500) !important;
    color: var(--color-light-100) !important;
  }
  :global(.sd) {
    font-size: var(--line-height-s) !important;
  }
  :global(.rmdp-today .sd) {
    color: var(--color-info-500) !important;
    background-color: var(--color-dark-800) !important;
    font-weight: bold !important;
    border: none !important;
  }
  :global(.rmdp-selected .sd) {
    color: var(--color-light-100) !important;
    background-color: var(--color-info-500) !important;
    font-weight: bold !important;
    border: 4px solid rgba(0, 0, 0, 0.3) !important;
    box-shadow: none !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  :global(.rmdp-shadow) {
    box-shadow: none !important;
    border: 1px solid var(--color-dark-300);
  }

  :global(.rmdp-arrow-container) {
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 0 !important;
    background-color: var(--color-dark-300);
    width: 2rem !important;
    height: 2rem !important;
  }

  :global(.rmdp-header-values) {
    display: flex;
    align-items: center;
    height: 2rem;
    transition: all 0.2s;
    &:hover {
      color: var(--color-info-300) !important;
    }
  }

  :global(.weekends) {
    color: var(--color-danger-300);
  }
  :global(.rmdp-deactive > .weekends) {
    color: var(--color-dark-100) !important;
  }

  :global(.rmdp-arrow) {
    margin: 0 !important;
    border: solid #ffffff !important;

    border-width: 0 2px 2px 0 !important;
  }

  :global(.rmdp-arrow-container:hover) {
    background-color: var(--color-info-500) !important;
  }

  :global(.rmdp-deactive) {
    color: var(--color-dark-100) !important;
  }
}
