.buttonPanel {
  position: absolute;
  background-color: var(--color-dark-300);
  padding: 10px;
  bottom: 51px;
  right: 12px;
  .thumbnailContainer {
    display: flex;
    .buttonImageWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .thumbnailImage {
        cursor: pointer;
        padding: 2px;
      }
      .deleteButton {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 10px;
        height: 8px;
        background-color: var(--color-dark-100);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6px;
        cursor: pointer;
      }
    }
  }
}
.buttonsContainer {
  display: flex;

  .inputPhoto {
    position: absolute;
    visibility: hidden;
  }

  .button {
    width: 100%;
    background-color: var(--color-dark-300);
    border: none;
  }
}
.sizeButton {
  background-color: var(--color-dark-300);
  border: none;
  width: 36px;
}
