.formContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 23.625rem;
  background-color: #171717;
  border: solid 1px #333333;
  margin: 0 auto;
  height: max-content;
}

.socialIconContainer {
  display: flex;
  gap: 3.75rem;
  justify-content: center;
}
.signInForgotText {
  width: 100%;
  text-align: right;
  margin-top: 1.5rem;
}
.forgotHelpText {
  color: var(--color-light-1000);
  margin-top: -1rem;
}
.signUpBtn {
  margin-top: 1rem;
}
.helpText {
  margin-top: -0.3rem;
}
.oppositeBtn {
  border: none !important;
  margin-top: -1rem;
}
.capchaContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 5.25rem;
  padding: 0.875rem 1.25rem;

  border: solid 1px #333333;
  border-radius: 2px;
  align-items: center;

  input {
    position: relative;
    top: 2px;
    left: 3px;
    margin: 0;
    margin-right: 1.2rem;
    transform: scale(1.5);
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
  }
}
.capchaIcon {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 8px;
    line-height: 10px;
  }
  span {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 6px;
    line-height: 8px;
  }
}


