.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.oAuth {
  padding-bottom: 24px;
}

.inputUserName,
.inputEmail,
.inputPassword, {
  padding-bottom: 24px;
}

.inputPasswordConfirm {
  padding-bottom: 12px;
}

.agreementContainer {
  padding-left: 3px;
  display: flex;
  width: 100%;
  align-items: center;
}

.agreementText {
  color: var(--color-light-100);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.agreementLink {
  color: var(--color-info-300);
}

.socialIconContainer {
  display: flex;
  gap: 3.75rem;
  justify-content: center;
}

.signUpBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signUpBtnDisable {
  cursor: default;
  margin-top: 1rem;
  background-color: var(--color-info-100);
}

.helpText {
  margin-bottom: 0.5rem;
}

.linkOppositeBtn {
  text-decoration: none;
}