.registeredUsersTablo {
  width: 100%;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);

  .registeredUsersTabloContainer {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;

    .numbersContainer {
      display: flex;
      border: 1px solid var(--color-dark-300);

      div {
        padding: 0 10px;
      }

      div:not(:last-child) {
        border-right: 1px solid var(--color-dark-300);
      }
    }
  }
}
