.addPhotoContentContainer {
  padding: 72px 136px 48px;

  .darkBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 222px;
    height: 228px;

    background: black;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;

    .inputPhoto {
      position: absolute;
      visibility: hidden;
    }

    .button {
      width: 100%;
    }
  }
}
