.wrapper {
  width: 100%;
  position: relative;
}

.label {
  display: block;
  margin: 0;
}

.inputSearch {
  padding: 6px 12px 6px 36px;
}

.input,
.label {
  font-size: var(--font-size-s);
  width: 100%;
  color: var(--color-dark-100);
  line-height: var(--line-height-m);
  background: rgba(0, 0, 0, 0);
}

.input {
  font-size: var(--font-size-m);
  color: var(--color-dark-100);
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;
  caret-color: var(--color-light-100);

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:focus::placeholder {
    color: var(--color-dark-100);
  }

  &:hover {
    border-color: var(--color-light-900);
    color: var(--color-light-900);
  }

  &:focus {
    border-color: var(--color-light-100);
    color: var(--color-light-100);
  }

  &:active {
    border-color: var(--color-info-500);
    color: var(--color-light-100);
  }

  &:disabled {
    border-color: var(--color-dark-500);
    color: var(--color-dark-500);
  }
}

.error {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-s);
  color: var(--color-danger-500);
  line-height: 24px;
}

.erroredInput {
  border-color: var(--color-danger-500);

  &:hover {
    border-color: var(--color-danger-500);
    color: var(--color-dark-100);
  }

  &:focus,
  &:active,
  &:not(:placeholder-shown) {
    border-color: var(--color-danger-500);
    color: var(--color-light-100);
  }

  &:active,
  &:not(:placeholder-shown) {
    border-color: var(--color-danger-500);
    color: var(--color-light-100);
  }
}

.eye {
  position: absolute;
  left: calc(100% - 36px);
  top: 29px;
  cursor: pointer;
}

.eyeCrossLine {
  position: absolute;
  height: 4px;
  width: 25px;
  border-radius: 2px;
  border-bottom: solid 1px #171717;
  background-color: var(--color-light-100);
  transform: rotate(45deg);
  left: calc(100% - 36px);
  top: 39px;
  cursor: pointer;
}

.search {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.location {
  position: absolute;
  left: calc(100% - 36px);
  bottom: 26px;
}

.container ul {
  list-style-type: none;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;

  & li {
    cursor: pointer;
  }
}
