.wrapper {
  width: 100%;
  position: relative;
}
.label {
  display: block;
  margin: 0;
}

.erroredInput {
  border-color: var(--color-danger-500);
}
.inputSearch {
  padding: 6px 12px 6px 36px;
}
.input,
.label {
  font-size: var(--font-size-s);
  width: 100%;
  color: var(--color-light-1000);
  line-height: var(--line-height-m);
  background: rgba(0, 0, 0, 0);
}
.input {
  font-size: var(--font-size-m);
  color: var(--color-light-100);
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;
}
.input::placeholder {
    color: var(--color-light-1000);
    font-size: var(--font-size-m);
}
.input:focus {
  border-color: var(--color-info-500);
}
.error {
  font-size: 16px;
  color: var(--color-danger-500);
  line-height: 24px;
}
.eye {
  position: absolute;
  left: calc(100% - 36px);
  bottom: 7px;
  cursor: pointer;
}
.eyeCrossLine {
  position: absolute;
  height: 4px;
  width: 25px;
  border-radius: 2px;
  border-bottom: solid 1px #171717;
  background-color: var(--color-light-100);
  transform: rotate(45deg);
  left: calc(100% - 36px);
  bottom: 17px;
  cursor: pointer;
}
.search {
  position: absolute;
  left: 12px;
  bottom: 12px;
}