.formContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgotHelpText {
  color: var(--color-light-1000);
}

.enterEmail {
  margin-top: 0.875rem;
}

.forgotHelpText {
  font-size: var(--font-size-s);
  margin-top: -1rem;
}

.linkAgainText {
  font-size: var(--font-size-s);
}

.sendLinkBtn {
  margin-top: -0.4rem;
}

.oppositeBtn {
  border: none !important;
}
