.formContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgotHelpText {
  color: var(--color-light-1000);
}

.enterEmail {
  margin-top: 0.875rem;
}

.forgotHelpText {
  font-size: var(--font-size-s);
  margin-top: -1rem;
}

.linkAgainText {
  font-size: var(--font-size-s);
}

.sendLinkBtn {
  margin-top: -0.4rem;
}

.oppositeBtn {
  border: none !important;
}

.captchaContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 5.25rem;
  padding: 0.875rem 1.25rem;

  border: solid 1px #333333;
  border-radius: 2px;
  align-items: center;

  input {
    position: relative;
    top: 2px;
    left: 3px;
    margin: 0;
    margin-right: 1.2rem;
    transform: scale(1.5);
  }

  label {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
  }
}

.captchaIcon {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 8px;
    line-height: 10px;
  }

  span {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 6px;
    line-height: 8px;
  }
}
