.expiredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 27rem;
  margin: 2.2rem auto;
  height: calc(100vh - 60px);
  p {
    width: 18.375rem;
    margin-bottom: 0.375rem;
    text-align: center;
  }
  button {
    margin-bottom: 0.375rem;
  }
  h3{
    text-align: center;
  }
}
