.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  align-items: center;

  width: 23.625rem;
  height: max-content;
  margin: 1.5rem auto;
  padding: 1.5rem;

  background-color: #171717;
  border: solid 1px #333;

  h3 {
    line-height: 2rem
  }
}
