.rootContainer {
  display: flex;
}

.profileContainer {
  display: flex;
  flex-flow: column wrap;
  margin-right: 60px;
  margin-bottom: 30px;

  .photosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin-top: 60px;
    margin-left: 20px;
  }
}

.photoWrapper {
  margin-top: 12px;
}

.photo {
  cursor: pointer;
  width: 350px;
  height: 350px;
  margin-left: 6px;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
