.rootContainer {
  display: flex;
}
.profileContainer {
  //margin-left: 220px;
  margin-bottom: 30px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .photosContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
    margin-left: 20px;
  }
}

.photoWrapper {
  margin-top: 12px;
}

.photo {
  width: 350px;
  height: 350px;
  margin-left: 6px;
  cursor: pointer;
}
