.select {
  color: white;
  background: var( --color-dark-900);
  width: 163px;
  height: 36px;
  border-radius: 0;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  z-index: 10;
  .selectContent {
    background: var( --color-dark-900);
    border: 1px solid #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    cursor: pointer;
    .optionContent {
      display: flex;
      align-items: center;
      .description {
        margin-left: 10px;
      }
    }
  }
  .optionList {
    border: 1px solid #4c4c4c;
    background: var( --color-dark-900);
    padding-top: 8px;
    border-top: none;
    .option {
      width: inherit;
      padding-bottom: 10px;
      .optionContent {
        display: flex;
        align-items: center;
        padding-left: 12px;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
          cursor: pointer;
        }
        .description {
          margin-left: 10px;
        }
      }
    }
  }
}
