.select {
  position: relative;

  width: 100%;
  height: 100%;

  font-size: 16px;
  font-weight: 400;
  color: white;

  background: var(--color-dark-700);
  border-radius: 0;

  .selectContent {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    padding: 0 0.5rem;

    background: var(--color-dark-700);
    border: 1px solid #4c4c4c;

    .optionContent {
      display: flex;
      align-items: center;

      .description {
        margin-left: 10px;
      }
    }
  }

  .optionList {
    position: absolute;

    width: 100%;
    padding-top: 8px;

    background: var(--color-dark-700);
    border: 1px solid #4c4c4c;
    border-top: none;

    .option {
      width: inherit;
      padding-bottom: 10px;

      .optionContent {
        display: flex;
        align-items: center;
        padding-left: 12px;

        &:hover {
          cursor: pointer;
          background: rgb(255 255 255 / 20%);
        }

        .description {
          margin-left: 10px;
        }
      }
    }
  }
}
