.sliderWrapper {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .sliderImage {
    width: 100%;
    height: 100%;
  }

  .sliderButtonsContainer {
    position: absolute;
    bottom: 240px;
    left: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sliderButton {
    background-color: rgba(76, 76, 76, 0.7);
    border: none;
    width: 60px;
    height: 48px;
    border-radius: 2px;
    cursor: pointer;
  }

  .sliderDotsBarWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.filtersModalContent {
  display: flex;

  .filters {
    width: 500px;
    height: 500px;
  }
}
