.contentBody {
  display: flex;

  .main {
    width: 100%;
    padding-top: 3.75rem;
  }

  .mainWithSidebar {
    /* stylelint-disable */
    margin: 0 auto;
    width: 100%;
  }

  .superAdminBody {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 4rem 0 2rem;
  }

  .AdminLayoutBody {
    display: flex;
    justify-content: center;
  }
}
