@import '@/shared/styles/mediaQueries';

.wrapper {
  height: 100%;
display: flex;
flex-direction: column;
gap: 50px;
justify-items: center;
align-items: center;
  padding: 100px;

  @include media-extra-small {
    padding: 10px;
  }
}

.errorImage {
  display: flex;
  justify-content: center;
  width: 100%;
}
