.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 0 4rem 1.5rem 1.5rem;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  label {
    margin-top: 1.5rem;
    display: flex;
    color: var(--color-dark-100);
    font-size: var(--font-size-m);
  }
}

.myCustomLabel:nth-child(-n + 3) label::after {
  content: '*';
  color: var(--color-danger-500);
}

.photoContent {
  margin: 3rem 3.5rem 1.5rem 0;
  width: 12rem;
}

.textFieldsContent {
  width: 100%;
}
.textareaContent {
  display: flex;
  position: relative;
  flex-direction: column;
  textarea {
    background-color: var(--color-dark-800);
    resize: none;
  }
}

.calendar {
  width: 100%;
  position: relative;
}

.aboutMeTextarea {
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-dark-300);
  padding: 10px;
  resize: vertical;
  outline: none;
  &:focus {
    border-color: var(--color-info-500);
  }
}

.line {
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background-color: var(--color-dark-300);
}

.button {
  color: var(--color-light-900);
  background-color: var(--color-info-900);
  &:hover {
    background-color: var(--color-info-700);
  }
  &:disabled {
    background-color: var(--color-info-100);
    cursor: auto;
  }
}

.errorTextarea {
  font-size: var(--font-size-s);
  color: var(--color-danger-500);
  line-height: 24px;
  position: absolute;
  bottom: -1.5rem;
}
.errorCalendar {
  font-size: var(--font-size-s);
  color: var(--color-danger-500);
  line-height: 24px;
  position: absolute;
}
