.generalInfoContainer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;
    padding: 0 4rem 1.5rem 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    label {
      display: flex;
      margin-top: 1.5rem;
      font-size: var(--font-size-m);
      color: var(--color-dark-100);
    }
  }

  .myCustomLabel:nth-child(-n + 3) label::after {
    content: '*';
    color: var(--color-danger-500);
  }

  .photoContent {
    width: 12rem;
    margin: 3rem 3.5rem 1.5rem 0;
  }

  .textFieldsContent {
    width: 100%;
  }

  .textareaContent {
    position: relative;
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
      background-color: var(--color-dark-500);
    }
  }

  .calendar {
    position: relative;
    width: 100%;
  }

  .agreementLink {
    position: relative;
    z-index: 10;

    &:link {
      color: var(--color-danger-500);
    }
  }

  .aboutMeTextarea {
    resize: vertical;

    width: 100%;
    padding: 10px;

    background: transparent;
    border: 1px solid var(--color-dark-300);
    outline: none;

    &:focus {
      border-color: var(--color-info-500);
    }
  }

  .line {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0;
    background-color: var(--color-dark-300);
  }

  .button {
    color: var(--color-light-900);
    background-color: var(--color-info-900);

    &:hover {
      background-color: var(--color-info-700);
    }

    &:disabled {
      cursor: auto;
      background-color: var(--color-info-100);
    }
  }

  .errorTextarea {
    position: absolute;
    bottom: -1.5rem;

    font-size: var(--font-size-s);
    line-height: 24px;
    color: var(--color-danger-500);
  }

  .errorCalendar {
    position: absolute;
    font-size: var(--font-size-s);
    line-height: 24px;
    color: var(--color-danger-500);
  }
}