.tableRoot {
  background: #0d0d0d;
  border: 1px solid #171717;
  width: 100%;
  .headerItem {
    color: #fff;
    background: #171717;
    border-bottom: none;
    text-align: left;
    .triangleImg {
      margin-bottom: 2px;
      margin-left: 5px;
    }
    .triangleDown {
      margin-left: 5px;
    }
    .triangleUp {
      transform: rotate(180deg);
      position: relative;
      bottom: 6px;
      right: 8px;
    }
  }
  .tableContentItem {
    color: #fff;
    border-bottom: 1px solid #171717;
    text-align: left;
  }
}
