.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 4rem 0 1.5rem;
}

.navbar h3 {
  display: inline-block;
  margin-top: 2.25rem;
  margin-bottom: 0;
  width: 100%;
  text-decoration: none;
  color: var(--color-dark-300);
  font-size: var(--font-size-l);
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid var(--color-dark-300);
  padding-bottom: 0.25rem;
}
.navbar > * {
  flex-grow: 1;
  flex-basis: 0;
}

.navbar h3:hover,
.navbar h3:focus,
.navbar h3.current-page {
  color: var(--color-info-500);
}

.navbar h3:hover::after,
.navbar h3:focus::after,
.navbar h3.current-page::after {
  content: '';
  position: absolute;
  bottom: -0.2vh;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-info-500);
}
