.pagination {
  display: flex;
  align-items: center;
  gap: 32px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.text1 {
  color: white;
}

.text2 {
  color: white;
}
