.relative {
  position: relative;
}

.zoomPanel {
  position: absolute;
  bottom: 42px;
  background-color: #4c4c4c;
  padding: 10px;
  border-radius: 2px;
}

.sizeButton {
  background-color: #4c4c4c;
  border: none;
  width: 36px;
}

.image {
  fill: white;
}
