.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.signInForgotText {
  width: 100%;
  margin-top: 12px;
  margin-right: 4px;

  color: var(--color-light-900);
  text-align: right;
  text-decoration: none;

  &:visited {
    color: var(--color-light-900);
  }

  &:hover {
    color: var(--color-light-1000);
  }
}

.forgotHelpText {
  margin-top: -1rem;
  color: var(--color-light-1000);
}

.helpText {
  margin-top: -0.3rem;
}

.oppositeBtn {
  margin-top: -1rem;
  color: var(--color-info-500);
  border: none !important;
}

.link {
  text-decoration: none;
}
