.container {
  width: 100%;
  padding: 70px 161px;
  position: relative;
}

.backContainer {
  position: absolute;
  left: 64px;
  top: 24px;
  display: flex;
  gap: 12px;
  text-decoration: none;
}

.articleContainer {

}

.articleHeader {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}

.articleText {
  text-align: center;
}
