.container {
  width: 100%;
  padding: 70px 161px;
}

.articleContainer {

}

.articleHeader {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
}

.articleText {
  text-align: center;
}
