.usersListPage {
  width: 100%;

  .inputAndSelect {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 24px;

    & button {
      min-width: 176px;
      padding: 6px 12px;
    }

    & button > span:first-child {
      text-wrap: none;
    }
    .search {
      width: 70%;
      min-width: 234px;
    }
    .triggerBtn{
      width: 234px;
    }
  }
}
