.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: max-content;
  max-width: 100%;
  height: 7.5rem;
  margin: 0.75rem 0;
  padding: 1.125rem 1.5rem;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  section {
    display: flex;

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  h4 {
    margin: 0;
  }
}

.logOut {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
  border: none;

}

.description {
  margin-left: 1rem;
}
