.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-800);
  height: 7.5rem;
  min-width: max-content;
  max-width: 45.375rem;
  margin: 0.75rem 0;
  border: 1px solid var(--color-dark-600);
  border-radius: 2px;
  padding: 1.125rem 1.5rem;
  section {
    display: flex;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  h4 {
    margin: 0;
  }
}

.logOut {
  display: flex;
  align-items: center;
  border: none;
  color: var(--color-light-100);
}

.description {
  margin-left: 1rem;
}
