.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: var(--color-dark-900);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 0 3.75rem;
  border-bottom: 1px solid #333333;
  z-index: 100;
  .logo {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    text-decoration: none;
    color: white;
    .adminDescription {
      font-size: 12px;
      .adminDescriptionThin {
        font-weight: normal;
      }
    }
  }
  .option {
    display: flex;
    align-items: center;
    .ball {
      margin-right: 40px;
      cursor: pointer;
      display: flex;
    }
    .count {
      height: 13px;
      width: 13px;
      font-size: 8px;
      position: relative;
      right: 13px;
      background: red;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .langSwitcherContainer {
    width: 163px;
    height: 36px;
  }
}
