.wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;

  width: 100%;
  padding: 0 4rem 0 1.5rem;
}

.title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 12px 0 12px 23px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-700);
  border-radius: 2px;
}

.listItem {}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.footer {
  display: flex;
  gap: 54px;
  align-items: center;
}

.imgWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 64px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-700);
  border-radius: 2px;
}

.img {
  width: auto;
}

.currentSubscriptionRow {
  display: flex;
  flex-direction: row;
  gap: 48px;

  font-size: 14px;
  line-height: 24px;
}

.currentSubscriptionColumnName {
  margin-bottom: 12px;
  font-weight: 400;
  color: var(--color-light-900);
}

.currentSubscriptionColumnData {
  font-weight: 600;
}

.autoRenewalWrapper {
  margin: 19px 0 0 24px;
}

.autoRenewalLabelStyle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.wrapperTop {}
