.croppedImageContainer {
  display: flex;

  .croppedImage {
    height: fit-content;
    width: auto;
    z-index: 0;
  }

  .filterPanelContainer {
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 190px;
    position: absolute;

    .leftPanel {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 0;
    }

    .leftPanel > * {
      margin-right: 50px;
      margin-left: 50px;
    }

    .rightButton {
    }

    .rightButton > * {
      margin-right: 50px;
    }

    .sizeButton {
      background-color: grey;
      border: none;
      width: 36px;
    }
  }

  .zoomInput {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    background-color: grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cropper {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.cropArea {
  box-shadow: none !important;
  border: none !important;
}

.cropperContainer {
  overflow: hidden;
}
