.croppedImageContainer {
  display: flex;

  .croppedImage {
    height: fit-content;
    width: auto;
    z-index: 0;
  }

  .filterPanelContainer {
    width: 100%;
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    padding: 12px;

    .leftPanel {
      display: flex;
      z-index: 0;
      gap: 30px;
    }

    .rightButton {
    }

    .sizeButton {
      background-color:  #4c4c4c;
      border: none;
      width: 36px;
    }
  }

  .zoomInput {
    position: absolute;
    top: -36px;
    background-color: #4c4c4c;
    padding: 10px;
    border-radius: 2px;
  }
}

.cropper {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.cropArea {
  box-shadow: none !important;
  border: none !important;
}

.cropperContainer {
  overflow: hidden;
}

.buttonContainer {
  //position: relative;
}
