.actionBtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #4c4c4c;
  padding: 10px;
  border-radius: 2px;
  top: -150px;
  gap: 5px;
  > div {
    cursor: pointer;
  }
}
