.mainContainer {
  overflow: hidden;
}

.cropper {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.cropArea {
  box-shadow: none !important;
  border: none !important;
}
