.customInput {
  border: 1px solid var(--color-dark-300);
  border-radius: 0.125rem;
  padding: 4px 12px;
  background: rgba(0, 0, 0, 0);
  height: 22px;
}

.container {
  .rmdp-header-values {
    font-weight: 600;
  }
}

.customInput:focus {
  outline: none;
  background-color: #171717;
}
