.customInput {
  border: 1px solid var(--color-dark-300);
  border-radius: 0.125rem;
  padding: 4px 12px;
  background-color: var(--color-dark-700)!important;
  height: 2.25rem;
  width: 10rem;
}

.customInput:focus {
  outline: none;
}

.calendarIcon {
  position: relative;
  left: -34px;
  top: 4px;
  pointer-events: none;
  cursor: pointer;
}
