.headerContainer {
  display: flex;
  margin-top: 40px;
  padding-left: 20px;

  .avatarContainer {
    min-width: 204px;
    min-height: 204px;
    background-color: var(--color-dark-700);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    width: calc(100% - 204px);

    .profileTitleContainer {
      display: flex;
      align-items: center;
      font-size: 20px;

      .buttonProfileSetting {
        width: 167px;
        height: 36px;
        background: #333333;
        color: #ffffff;
        font-size: 16px;
        margin-left: auto;
      }
    }

    .subscribersContainer {
      display: flex;
      width: 370px;
      justify-content: space-between;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 78px;

      .countSubscribers {
        font-weight: 700;
      }
    }

    .description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      width: 90%;
    }
  }
}
