.checkboxWrapper {
  display: flex;
  gap: 11px;
  align-items: center; 
  height: 2rem;
}

.checkbox {
  cursor: pointer;
  content: '';

  position: relative;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  appearance: none;
  border: 2px solid var(--color-light-100);
  border-radius: 50%;
}

.checkbox:checked::before {
  content: '';

  position: absolute;
  top: 3.5px;
  left: 3.5px;

  width: 13px;
  height: 13px;

  background-color: var(--color-light-100);
  border-radius: 50%;
}
