.logoutButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color-dark-700);
  color: white;
  border: none;
  cursor: pointer;

  .description {
    font-size: 14px;
    font-weight: 500;
  }
}

.userName {
  font-weight: bold;
}
