.editDeleteButtonContainer {
  position: absolute;
  width: 137px;
  height: 85px;
  background-color: var(--color-dark-500);
  margin-left: 290px;
  margin-top: 135px;
  border: 1px solid var(--color-dark-100);
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    .button {
      cursor: pointer;
      border: 0;
      background-color: transparent;

      width: 100%;
    }
  }
}

.modalWrapper {
  width: 380px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 72px;
    margin-top: 8px;

    .text {
      font-size: 16px;
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 17px;

    .button {
      width: 108px;
      height: 36px;
      font-size: var(--font-size-s);
    }
  }
}
