.editDeleteButtonContainer {
  position: absolute;

  min-width: 137px;
  height: 85px;
  margin-top: 135px;
  margin-left: 290px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .button {
      cursor: pointer;

      display: flex;
      align-items: center;

      width: 100%;

      background-color: transparent;
      border: 0;
    }

    .button span {
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 380px;
  height: 152px;

  .textWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 320px;
    height: 72px;
    margin-top: 8px;

    .text {
      font-size: 16px;
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 17px;

    .button {
      font-size: var(--font-size-s);
    }
  }
}
