.main {
  padding-top: 3.75rem;
}

.superAdminBody {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 60px;
  padding: 0 4rem 0 2rem;
}

.AdminLayoutBody {
  display: flex;
  justify-content: center;
}