@import '@/shared/styles/mediaQueries';

.post {
  .postImage {
    cursor: pointer;
    object-fit: cover;
    display: block;

    @include media-medium {
      width: 202px;
      height: 202px;
    }
    @include media-s-medium {
      width: 188px;
      height: 188px;
    }
    @include media-small {
      width: 168px;
      height: 168px;
    }
    @include media-extra-small {
      width: 132px;
      height: 132px;
    }
    @include media-extra-small {
      width: 122px;
      height: 122px;
    }
    @include media-mobile {
      width: 108px;
      height: 108px;
    }
  }

  .postNotImage {
    box-shadow: 0 0 1px var(--color-light-100);
  }
}
