.checkboxWrapper {
  display: flex;
  gap: 11px;
  align-items: center;
}
.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
}
.checkbox:checked {
  background-image: url('../../assets/icons/checkbox/checked.svg');
}
