.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checkboxLabel {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  cursor: pointer;

  position: relative;
  z-index: 1;

  width: 18px;
  height: 18px;
  margin-right: 8px;

  vertical-align: middle;

  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid var(--color-light-100);
  border-radius: 3px;
  outline: none;

  &:checked {
    background-color: var(--color-light-100);
    background-image: url('../../assets/icons/checkbox/checked.svg');
  }

  &:disabled {
    background-color: var(--color-dark-300);
    background-image: url('../../assets/icons/checkbox/checked-disabled.svg');
    border: 2px solid var(--color-dark-600);
  }
}

.check {
  cursor: pointer;

  position: absolute;
  top: 51%;
  left: 42%;
  transform: translate(-50%, -50%);

  width: 32px;
  height: 32px;

  background-color: transparent;
  border-radius: 50%;
}

.checkboxLabel:hover input ~ .check {
  background-color: var(--color-dark-600);
}

.checkboxLabel input:active ~ .check {
  background-color: var(--color-dark-300);
}

.checkboxLabel input:focus-visible ~ .check {
  background-color: var(--color-dark-700);
}

.checkboxLabel input:disabled ~ .check {
  background-color: transparent;
}

.error {
  margin: 0 auto;
  padding: 0;

  font-size: var(--font-size-s);
  line-height: 24px;
  color: var(--color-danger-500);
}

.checkboxDisabled {
  background-color: #7e7676;
}

.labelDisabled {
  color: #7e7676;
}
